# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Uploads Folder (we don't want to track user uploads)
uploads/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db